@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force portrait orientation */
html,
body {
  height: 100vh;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#root {
  height: 100%;
  width: 100%;
}
